<!DOCTYPE html>
<head>
<meta charset="utf-8" />
 <link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" href="../static/css/font-awesome.css"
	th:href="@{/css/font-awesome.css}">
 <!-- Site CSS -->
 <link rel="stylesheet" href="style1.css" th:href="@{/css/style1.css}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
  <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap"
      rel="stylesheet"
    />

<title>Error page</title>
</head>
<body style="background-size: cover;background-repeat:no-repeat;max-height:100vh;max-width:100%;background-image: url('/uploads/building/back_gr.jpg');">
        <div class="container d-flex text-center align-items-center">
           <div class="col-sm-12 sm-offset-6"  style="margin-top: 200px">
           <div class="panel panel-primary">
	       <div class="panel-heading text-center"><h2>Page not found</h2></div>
	          <div class="panel-body" oncancel="">
                  <h3> Page not found</h3>
           </div>
         </div>  
           <div>
             <a href="/prods"><button style="font-size: 20px;" class="btn btn-primary"> Home </button></a>
           </div>
        </div>
        </div>
</body>
</html>

